{% extends "layouts/base.html" %} {% block title %} Productos {% endblock %} {%
block stylesheets %}{% endblock stylesheets %} {% block content %} {% if message
%}
<div class="alert alert-success">{{ message }}</div>
{% endif %}
<h2 class="text-center text-3xl font-extrabold text-gray-900">Productos</h2>
<div class="flex flex-row gap-8 justify-content-center align-items-start">
  <!-- List Sectiion -->
  <div class="card flex flex-column gap-2">
    <h3 class="text-center">Lista de Productos</h3>
    {% for product in products %}
    <dl class="card-item flex flex-column gap-2">
      <dt class="text-lg font-medium text-gray-500">{{ product.name }}</dt>
      <dd class="text-gray-900 sm:mt-0 max-w-20rem">
        {{ product.description }}
      </dd>
      <dd class="text-gray-900 sm:mt-0 sm:col-span-2">
        Price: ${{ product.price }}
      </dd>
      <dd>
        <form
          class="flex flex-column gap-2 align-items-start"
          action="{{ url_for('products.actualizar_stock', id=product.id) }}"
          method="POST"
        >
          <div>
            <label for="stock" class="sr-only">Stock</label>
            <input
              type="number"
              name="stock"
              id="stock"
              class="w-6rem text-center"
              value="{{ product.stock }}"
            />
          </div>
          <button
            type="submit"
            class="p-button-success w-full"
            onsubmit="return confirm('¿Estás seguro de modificar el stock?');"
          >
            Modificar Stock
          </button>
        </form>
      </dd>
    </dl>
    {% endfor %}
  </div>
  <!-- Form Section -->
  <div>
    <h3 class="text-center">Registrar Nuevo Producto</h3>
    <form class="" action="{{ url_for('products.productos') }}" method="POST">
      {{ form.hidden_tag() }}
      <div class="flex flex-column gap-2">
        <div>
          <label for="name" class="sr-only">Nombre</label>
          {{ form.name(class_="w-full p-2 border-round") }}
        </div>
        <div>
          <label for="description" class="sr-only">Descripción</label>
          {{ form.description(class_="w-full p-2 border-round") }}
        </div>
        <div>
          <label for="price" class="sr-only">Precio</label>
          {{ form.price(class_="w-full p-2 border-round") }}
        </div>
        <div>
          <label for="stock" class="sr-only">Stock</label>
          {{ form.stock(class_="w-full p-2 border-round") }}
        </div>
      </div>
      <div>
        <button type="submit" class="p-button-success w-full mt-3">
          Crear Producto
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %} {% block javascripts %}{% endblock javascripts %}
